/* app css stylesheet */
body {
  min-height: 2000px;
  padding-top: 70px;
}

.gallery-movie-title{
	display: block;
	height: 50px;
}
.gallery-movie .thumbnail{
	margin-bottom: 30px;
}
.gallery-movie-poster{
	text-align: center;
}
.gallery-movie-ctrl{

}



.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 22px;
}
.rating span.star{
  font-family: 'Glyphicons Halflings';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.rating span.star:hover{
  cursor: pointer;
}
.rating span.star:before{
  content: "\e007";
  padding-right: 2px;
  color: #999999;
}
.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before{
  content: "\e006";
  color: #e3cf7a;
}
.rating span.selectedStar:before, .rating span.selectedStar ~ span.star:before{
  content: "\e006";
  color: #e3cf7a;
}